registry=https://onedrive.pkgs.visualstudio.com/_packaging/odsp-npm/npm/registry/
always-auth=true
//office.pkgs.visualstudio.com/_packaging/Office/npm/registry/:username=VssSessionToken1
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//office.pkgs.visualstudio.com/_packaging/Office/npm/registry/:_password=NGplenozdHpseW54bGs3dW56a3p3cjNwM3h4aHphbmZuYm5oZzRra28zanZrcmd5eGFqcQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//office.pkgs.visualstudio.com/_packaging/Office/npm/registry/:email=not-used@example.com
//onedrive.pkgs.visualstudio.com/_packaging/odsp-npm/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//onedrive.pkgs.visualstudio.com/_packaging/odsp-npm/npm/registry/:_password=ZWhudHhheWdvaHJ3cWg0dnVwMmJsdW1zYTNvY3hrZTQ0N2x2djdpenBycWRpa2RtbHhsYQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//onedrive.pkgs.visualstudio.com/_packaging/odsp-npm/npm/registry/:email=not-used@example.com
